a {
  text-decoration: none !important;
}

header {
  background-color: #e5e5e5 !important;
}

.logo {
  width: 60px;
  height: 35px;
}

.user-info {
  color: black !important;
}

.login-logout-signup-header button {
  margin-left: 5px !important;
}

.sell-btn {
  color: #80ad1c !important;
  border-color: #80ad1c !important;
}
